node_modules
public
dist
mock
.eslintrc.js
typings.d.ts
*.lock
yarn-error.log
.umirc.ts
package.json
deploy-linux.js
deploy-win.js
deploy.config.js
webpack
/src/engine
/.git/
/.vscode/
postcss.config.js
/typings.d.ts
locales/
*.d.ts
.husky